<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="company-name">Company name</div>
            <div class="header-right">
                <div class="profile-info">안녕하세요, 홍길동님.</div>
                <div class="logout">로그아웃</div>
            </div>
        </div>
        <div class="main-content-wrapper">
            <div class="sidebar">
                <div class="logo">CompanyName</div>
                <ul>
                    <li>대시보드</li>
                    <li>상담</li>
                    <li>교육</li>
                    <li>환경설정</li>
                </ul>
            </div>
            <div class="main-content">
                {% block content %}
                <!-- 대시보드 내용 -->
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
